<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}
    <p>
      <table>
        <tr><td>Proj 1</td></tr>
        <tr><td>Proj 2</td></tr>
      </table>
    </p>
    {{> footer}}
  </body>
</html>
